<article>
<%= form_tag(search_catalogs_path, :html => {class: "col-md-12"}) do %>
  <div class="form-group col-sm-8 ">
    <%= text_field_tag :search_word, nil, placeholder:"Search for books here", class: "form-control"  %>
  </div>
    <div class='col-sm-4'>
      <%= submit_tag "Search", class: 'btn btn-default' %>
    </div>
<% end %>
</article>
<br>
<br>
<section>
  <header>
    <% if @books.empty? %>
      <h3>No Books Entered</h3>
    <% else %>
      <h3 class="titles">All Books</h3>
    <% end %>
  </header>

  <div id="paginate">
    <%= paginate @books %>
  </div>

  <% @books.each do |book| %>
    <p class='book-title'>
      <%= link_to book.title, catalog_path(book) %><br>
      <span class='price-class'><%= number_to_currency(book.price) %></span>
    </p>
    <p class='book-image'><%= image_tag(book.book_cover_url(:thumb)) if book.book_cover? %></p>
    <div>
      <hr>
    </div>
  <% end %>
  <br>
</section>
