<%= bootstrap_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
  <div class='form-group'>
    <label class="control-label col-sm-3">First name</label>
    <div class='col-sm-9'>
      <%= f.text_field :first_name, class: 'form-control', hide_label: true %>
    </div>
  </div>

  <div class='form-group'>
    <label class="control-label col-sm-3">Last name</label>
    <div class='col-sm-9'>
      <%= f.text_field :last_name, class: 'form-control', hide_label: true %>
    </div>
  </div>

  <div class='form-group'>
    <label class="control-label col-sm-3">Email</label>
    <div class='col-sm-9'>
      <%= f.email_field :email, class: 'form-control', hide_label: true %>
    </div>
  </div>

  <div class='form-group'>
    <label class="control-label col-sm-3">Password</label>
    <div class='col-sm-9'>
      <%= f.password_field :password, class: 'form-control', hide_label: true %>
    </div>
  </div>

  <div class='form-group'>
    <label for='user_password_confirmation' class="control-label col-sm-3">Confirmation</label>
    <div class='col-sm-9'>
      <%= f.password_field :password_confirmation, class: 'form-control', hide_label: true %>
    </div>
  </div>
  <hr>

  <%= f.fields_for :addresses do |address| %>
    <div class='form-group'>
      <label for="address_line1" class="control-label col-sm-3">Address</label>
      <div class='col-sm-9'>
        <%= address.text_field :address_line1, class: 'form-control',id: 'address_line1', hide_label: true %>
      </div>
    </div>

    <div class='form-group'>
      <label for="address_line2" class="control-label col-sm-3"></label>
      <div class='col-sm-9'>
        <%= address.text_field :address_line2, class: 'form-control',id: 'address_line2', hide_label: true %>
      </div>
    </div>

    <div class='form-group'>
      <label class="control-label col-sm-3">City</label>
      <div class='col-sm-9'>
        <%= address.text_field :city, class: 'form-control', hide_label: true %>
      </div>
    </div>

    <div class='form-group'>
      <label for="zipcode" class="control-label col-sm-3">Postal Code</label>
      <div class='col-sm-9'>
        <%= address.text_field :zipcode, class: 'form-control',id: 'zipcode', hide_label: true %>
      </div>
    </div>
  <% end %>

  <div class='form-group actions control-group'>
    <div class='col-sm-offset-3'>
      <%= f.submit class:'btn btn-primary' %>
    </div>
  </div>
<% end %>
