<main role="main">
  <div class='container'>
    <%= render 'shared/messages' %>
    <div class='row'>

      <div class='col-md-9'>
        <% if content_for?(:sidebar) %>
          <div class='col-md-4 left'>
            <div id= 'left-content'>
              <%= yield :sidebar %>
            </div>
          </div>
          <div class='col-md-8 inner'>
            <div id='right-content'>
              <%= yield %>
            </div>
          </div>
        <% else %>
          <div class='col-md-10 col-md-offset-1 inner'>
            <div class='right-content'>
              <%= yield %>
            </div>
          </div>
        <% end %>
      </div>

      <div class='col-md-3'>
        <div id="cart">
          <%= render @cart if @cart %>
        </div>
      </div>

    </div>
  </div>
</main>
