<html>
  <head></head>
  <body>
    Dear <%= @customer.full_name %><br>

    <p>Thank you for the book order. Please find below the details of your order.</p>

    <% @order.order_items.each do |item| %>
      <p><%= item.quantity %> &times; <%= item.book.title %><%= number_to_currency("#{item.price * item.quantity}") %></p>
    <% end %>

    <p>Total order: <%= number_to_currency(@order.order_total) %></p><br>

    <p>Yours faithfully,</p><br>
    Bookstore Sales Team
  </body>
</html>
