<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :head %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header role="banner">
      <nav role="navigation" class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Bookstore App", "#", class: "navbar-brand" %>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><%= link_to "Home", "#" %></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main role="main">
      <div class='container'>
        <%= render 'shared/messages' %>
        <div class='row'>
          <div class='col-md-9'>
            <% if content_for?(:sidebar) %>
              <div class='col-md-4 left'>
                <div id= 'left-content'>
                  <%= yield :sidebar %>
                </div>
              </div>
              <div class='col-md-8 inner'>
                <div id='right-content'>
                  <%= yield %>
                </div>
              </div>
            <% else %>
              <div class='col-md-10 col-md-offset-1 inner'>
                <div class='right-content'>
                  <%= yield %>
                </div>
              </div>
            <% end %>
          </div>
          <div class='col-md-3'>
            <div id="cart">
              <%= render @cart if @cart %>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class='container'>
      <div class='row'>
        <div class='col-md-10 col-md-offset-1 footer'>
          <footer role="contentinfo">
            <p><small>Copyright &copy; Emmanuel Training Services</small></p>
          </footer>
        </div>
      </div>
    </div>

  </body>
</html>
